@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterSemiBold.ttf");
  font-family: "Inter";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterMedium.ttf");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/ChivoRegular.ttf");
  font-family: "Chivo";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterExtraBold.ttf");
  font-family: "Inter";
  font-weight: 800;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterLight.ttf");
  font-family: "Inter";
  font-weight: 300;
}
